body {
  overflow-x: hidden;
  background-color: #F1F0EF;
}

.nav-link:hover {
  color: black !important;
}

.footer-icon:hover {
  transition: 0.5s; 
  transform: scale(1.1);
}

#nav-logo:hover, #nav-book-button:hover, .footer-icon:hover, #contacts-bookings:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  #home-about-box {
    flex-direction: column;
    justify-content: center;
  }

  #nav-book-button {
    display: none;
  }

  #nav-logo {
    display: none !important;
  }

  #nav-logo2 {
    margin-left: 0 !important;
    display: block !important;
  }

  #toolbar {
    display: flex;
    justify-content: space-evenly;
  }

  #home-banner {
    height: 200px !important;
  }

  #home-about-h1 {
    font-size: 50px;
  }

  .home-about-textbox {
    width: 100% !important;
  }

  #footer-icon-box {
    width: 75% !important;
  }

  #services-box, .services-img {
    width: 100vw !important;
  }

  .home-picture-box {
    width: 90vw !important;
  }

  .home-picture-img {
    width: 30vw !important;
  }

  #contacts-section1 {
    height: 70vh !important;
  }

  #contacts-h1-box {
    width: 90vw !important;
  }

  #contacts-section2 {
    flex-direction: column !important;
  }

  #contacts-img {
    width: 80vw !important;
    height: auto !important;
  }

  #contacts-img-box {
    margin-bottom: 10vh;
  }
}


@media (max-width: 300px) {
  #home-banner {
    height: 150px !important;
  }
}