body {
  overflow-x: hidden;
  background-color: #F1F0EF;
}

.nav-link:hover {
  color: black !important;
}

.footer-icon:hover {
  transition: 0.5s; 
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  #home-about-box {
    flex-direction: column;
    justify-content: center;
  }

  #nav-book-button {
    display: none;
  }

  #nav-logo {
    margin-left: 0 !important;
  }

  #toolbar {
    display: flex;
    justify-content: space-evenly;
  }

  #home-banner {
    height: 200px !important;
  }

  #home-about-h1 {
    font-size: 50px;
  }
  
  .home-picture-box {
    flex-direction: column;
  }

  .home-about-textbox {
    width: 100% !important;
  }

  #footer-icon-box {
    width: 50% !important;
  }
}


@media (max-width: 300px) {
  #home-banner {
    height: 150px !important;
  }
}